.about {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f6f6f6;
  padding: 81px 0 0;

  &__head {
    font-family: "Gilroy-Bold";
    font-size: 34px;
    margin: 0 0 34px;
  }
  &__text {
    font-family: "Gilroy-Medium";
    font-size: 18px;
    text-align: center;
  }
  &__paragraf {
    height: 113px;
    width: 316px;
  }
  &__desktop {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .about {
    padding: 120px 0 74px;
    &__desktop {
      display: block;
    }

    &__mobile {
      display: none;
    }

    &__head {
      margin: 0 0 22px;
    }

    &__paragraf {
      width: 480px;
      height: 83px;
    }
  }
}
