.contacts {
  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: center;
  justify-items: center;

  padding: 81px 0 110px;

  &__head {
    font-family: "Gilroy-Bold";
    font-size: 34px;
    padding-bottom: 27px;
  }

  &__text {
    font-family: "Gilroy-Medium";
    font-size: 18px;
    padding-bottom: 40px;
  }

  &__btn {
    font-family: "Gilroy-Bold";
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    background-color: black;
    border-color: none;
    border: none;
    text-decoration: none;
    transition: 0.2s;

    width: 316px;
    height: 42px;

    border-radius: 200px;
    outline: none;

    margin: 0 0 40px;
  }

  &__btn:hover {
    color: #070707;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px 4px rgba(128, 128, 128, 1);
    -webkit-box-shadow: 0px 0px 20px 4px rgba(128, 128, 128, 1);
    -moz-box-shadow: 0px 0px 20px 4px rgba(128, 128, 128, 1);
  }

  &__btn:active {
    color: #ffffff;
    background-color: #070707;
    border: #ffffff;
    box-shadow: none;
  }

  &__svg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 316px;
  }

  &__img:hover {
    opacity: 50%;
  }

  &__img:active {
    opacity: 100%;
  }

  &__footer {
    font-family: "Gilroy-Medium";
    font-size: 18px;
    color: #828282;
    padding-top: 49px;
  }
}

@media screen and (min-width: 1024px) {
  .contacts {
    padding: 115px 0 124px;

    &__head {
      padding-bottom: 20px;
    }
    &__text {
      padding-bottom: 30px;
    }
    &__btn {
      width: 181px;
      height: 42px;
      margin: 0 0 80px;
    }
    &__footer {
      padding-top: 46px;
      font-size: 14px;
    }
    &__svg {
      width: 343px;
    }
  }
}
