@font-face {
  font-family: "Gilroy-Medium";
  src: url("./fonts/fonts-medium/gilroy-medium.eot"); /* IE 9 Compatibility Mode */
  src: url("./fonts/fonts-medium/gilroy-medium.eot?#iefix")
      format("embedded-opentype"),
    /* IE < 9 */ url("./fonts/fonts-medium/gilroy-medium.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("./fonts/fonts-medium/gilroy-medium.woff")
      format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("./fonts/fonts-medium/gilroy-medium.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/fonts-medium/gilroy-medium.svg#gilroy-medium") format("svg"); /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url("./fonts/fonts-bold/gilroy-bold.eot"); /* IE 9 Compatibility Mode */
  src: url("./fonts/fonts-bold/gilroy-bold.eot?#iefix")
      format("embedded-opentype"),
    /* IE < 9 */ url("./fonts/fonts-bold/gilroy-bold.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/fonts-bold/gilroy-bold.woff")
      format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("./fonts/fonts-bold/gilroy-bold.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/fonts-bold/gilroy-bold.svg#gilroy-bold") format("svg"); /* Chrome < 4, Legacy iOS */
}
