.header {
  font-family: "Gilroy-Bold";

  &__btn {
    position: absolute;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    top: 68px;
    right: 30px;
    z-index: 10;
    svg {
      rect {
        transition: all 0.3s ease-in-out;
      }
    }
  }

  &__navigation {
    transform: translateX(100vw);
    background-color: white;
    display: flex;
    position: fixed;
    flex-direction: column;
    font-size: 43px;
    align-items: flex-end;
    padding: 20px 30px;
    width: 100%;
    height: 100%;
    a {
      text-decoration: none;
      color: #070707;
      margin: 20px 0;
    }
  }
  &__lang {
    position: fixed;
    transform: translateX(100vw);
  }

  &.btn-active {
    .header {
      &__navigation {
        top: 0;
        transform: translateX(0vw);
        display: flex;
        position: fixed;
        flex-direction: column;
        font-size: 30px;
        align-items: flex-start;
        padding: 42px 30px;
        width: 100%;
        height: 100%;
        background-color: white;
        a {
          text-decoration: none;
          color: #828282;
          margin-bottom: 28px;
        }
        a:hover {
          color: #070707;
        }
      }

      &__lang {
        position: fixed;
        font-family: "Gilroy-Bold";
        display: flex;
        height: 20px;
        transform: rotate(90deg);
        padding: 0;
        right: 24px;
        top: 500px;
        button {
          font-family: "Gilroy-Bold";
          font-size: 34px;
          border: none;
          outline: none;
          background: none;
          text-transform: uppercase;
          color: #828282;
        }
        button:hover {
          color: #070707;
        }

        p {
          margin: 0 5px;
          font-size: 34px;
        }
      }

      &__btn {
        position: fixed;
        border: none;
        outline: none;
        background-color: transparent;
        padding: 0;
        top: 68px;
        right: 30px;
        z-index: 10;
        svg {
          rect {
            opacity: 0;
            &:first-child {
              opacity: 1;
              transform: rotate(35deg) translate(1px, -3px) scaleX(1.1);
            }
            &:last-child {
              opacity: 1;
              transform: rotate(-35deg) translate(-11px, 0px) scaleX(1.1);
            }
          }
        }
      }
    }
  }
}

.body-scroll-off {
  overflow: hidden;
}

@media screen and (min-width: 1024px) {
  .header {
    position: fixed;
    width: calc(100vw - 16px);
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #ffffff;

    &__lang {
      display: none;
    }

    &__btn {
      display: none;
    }
    &__navigation {
      transform: translateX(0vw);
      position: unset;
      display: flex;
      flex-direction: row;
      width: 940px;
      justify-content: space-between;
      margin: 0 auto;
      padding: 33px 0 32px;
      border-bottom: 1px solid #828282;
      z-index: 10;
      top: 0;
      left: 0;
      background-color: #ffffff;
      a {
        margin: 0;
        text-decoration: none;
        color: #828282;
        font-size: 18px;
      }
      a:hover {
        color: #070707;
      }
    }
  }
}
