.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-items: center;
  padding: 81px 0 14px;

  background-color: #f6f6f6;

  &__head {
    font-family: "Gilroy-Bold";
    font-size: 34px;
    padding-bottom: 65px;
  }

  &__text {
    font-family: "Gilroy-Medium";
    font-size: 18px;
    margin: 33px 0 79px;
    text-decoration: none;
    color: #070707;
  }

  &__text:active {
    color: #828282;
  }

  &__img {
    padding: 0 30px 0 30px;
    max-width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 1024px) {
  .portfolio {
    padding: 113px 0 0px;

    &__text {
      color: #070707;
      font-family: "Gilroy-Medium";
      font-size: 18px;
      margin: 45px 0 99px;
      text-decoration: none;
    }
    &__text:hover {
      color: #828282
    }
  }
}
