.presentation {
  display: grid;
  grid-template-areas:
    "name ."
    ". ."
    "info ."
    ". ."
    "img img"
    ". .";
  grid-template-columns: 156px auto;
  grid-template-rows: auto 23px auto 37px 478px 81px;
  padding: 0 29px;
  margin-top: 65px;

  &__lang {
    display: none;
  }
  &__name {
    grid-area: name;
    font-family: "Gilroy-Bold";
    font-size: 47px;
  }

  &__info {
    font-family: "Gilroy-Medium";
    font-size: 18px;
    grid-area: info;
  }
  &__photo {
    grid-area: img;
    background-image: url("img/Denis Novik mobile.png");
    background-size: cover;
  }
}
@media screen and (min-width: 1024px) {
  .presentation {
    grid-template-areas:
      "name . info . lang"
      ". . . . ."
      "img img img img img"
      ". . . . .";
    grid-template-columns: 124px auto 156px auto 20px;
    grid-template-rows: auto 49px 387px 104px;
    padding: 0;
    margin: 129px auto 0;
    width: 940px;

    &__lang {
      font-family: "Gilroy-Bold";
      display: flex;
      grid-area: lang;
      height: 20px;
      transform: rotate(-90deg);
      margin-top: auto;
      button {
        font-family: "Gilroy-Bold";
        font-size: 16px;
        border: none;
        outline: none;
        background: none;
        text-transform: uppercase;
        color: #828282;
      }
      button:hover {
        color: #070707;
      }

      p {
        margin: 0 5px;
      }
    }

    &__info {
      margin-top: auto;
    }
    &__photo {
      background-image: url("img/Denis_Novik.png");
    }
  }
}
