.skills {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 81px 0 98px;

  &__head {
    font-family: "Gilroy-Bold";
    font-size: 34px;
  }

  &__text {
    font-family: "Gilroy-Medium";
    padding: 40px 0 0;
    font-size: 18px;
  }

  &__img {
    margin: 81px 0 0;
    width: 165px;
    height: 205px;
  }

  &__img-container {
    flex-direction: column;
    width: 167px;
  }
}

@media screen and (min-width: 1024px) {
  .skills {
    padding: 91px 0 110px;

  &__text {
    padding: 69px 0 0;
  }

  &__img-container {
    display: flex;
    flex-direction: row;
    width: 940px;
    justify-content: space-between;
  }
}
}