* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("./fonts/fonts-medium/gilroy-medium.eot");
  /* IE 9 Compatibility Mode */
  src: url("./fonts/fonts-medium/gilroy-medium.eot?#iefix") format("embedded-opentype"), url("./fonts/fonts-medium/gilroy-medium.woff2") format("woff2"), url("./fonts/fonts-medium/gilroy-medium.woff") format("woff"), url("./fonts/fonts-medium/gilroy-medium.ttf") format("truetype"), url("./fonts/fonts-medium/gilroy-medium.svg#gilroy-medium") format("svg");
  /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("./fonts/fonts-bold/gilroy-bold.eot");
  /* IE 9 Compatibility Mode */
  src: url("./fonts/fonts-bold/gilroy-bold.eot?#iefix") format("embedded-opentype"), url("./fonts/fonts-bold/gilroy-bold.woff2") format("woff2"), url("./fonts/fonts-bold/gilroy-bold.woff") format("woff"), url("./fonts/fonts-bold/gilroy-bold.ttf") format("truetype"), url("./fonts/fonts-bold/gilroy-bold.svg#gilroy-bold") format("svg");
  /* Chrome < 4, Legacy iOS */
}

.header {
  font-family: "Gilroy-Bold";
}

.header__btn {
  position: absolute;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  top: 68px;
  right: 30px;
  z-index: 10;
}

.header__btn svg rect {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header__navigation {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 43px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 20px 30px;
  width: 100%;
  height: 100%;
}

.header__navigation a {
  text-decoration: none;
  color: #070707;
  margin: 20px 0;
}

.header__lang {
  position: fixed;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
}

.header.btn-active .header__navigation {
  top: 0;
  -webkit-transform: translateX(0vw);
          transform: translateX(0vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 30px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 42px 30px;
  width: 100%;
  height: 100%;
  background-color: white;
}

.header.btn-active .header__navigation a {
  text-decoration: none;
  color: #828282;
  margin-bottom: 28px;
}

.header.btn-active .header__navigation a:hover {
  color: #070707;
}

.header.btn-active .header__lang {
  position: fixed;
  font-family: "Gilroy-Bold";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  padding: 0;
  right: 24px;
  top: 500px;
}

.header.btn-active .header__lang button {
  font-family: "Gilroy-Bold";
  font-size: 34px;
  border: none;
  outline: none;
  background: none;
  text-transform: uppercase;
  color: #828282;
}

.header.btn-active .header__lang button:hover {
  color: #070707;
}

.header.btn-active .header__lang p {
  margin: 0 5px;
  font-size: 34px;
}

.header.btn-active .header__btn {
  position: fixed;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  top: 68px;
  right: 30px;
  z-index: 10;
}

.header.btn-active .header__btn svg rect {
  opacity: 0;
}

.header.btn-active .header__btn svg rect:first-child {
  opacity: 1;
  -webkit-transform: rotate(35deg) translate(1px, -3px) scaleX(1.1);
          transform: rotate(35deg) translate(1px, -3px) scaleX(1.1);
}

.header.btn-active .header__btn svg rect:last-child {
  opacity: 1;
  -webkit-transform: rotate(-35deg) translate(-11px, 0px) scaleX(1.1);
          transform: rotate(-35deg) translate(-11px, 0px) scaleX(1.1);
}

.body-scroll-off {
  overflow: hidden;
}

@media screen and (min-width: 1024px) {
  .header {
    position: fixed;
    width: calc(100vw - 16px);
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #ffffff;
  }
  .header__lang {
    display: none;
  }
  .header__btn {
    display: none;
  }
  .header__navigation {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
    position: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 940px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    padding: 33px 0 32px;
    border-bottom: 1px solid #828282;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #ffffff;
  }
  .header__navigation a {
    margin: 0;
    text-decoration: none;
    color: #828282;
    font-size: 18px;
  }
  .header__navigation a:hover {
    color: #070707;
  }
}

.presentation {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "name ." ". ." "info ." ". ." "img img" ". .";
  -ms-grid-columns: 156px auto;
      grid-template-columns: 156px auto;
  -ms-grid-rows: auto 23px auto 37px 478px 81px;
      grid-template-rows: auto 23px auto 37px 478px 81px;
  padding: 0 29px;
  margin-top: 65px;
}

.presentation__lang {
  display: none;
}

.presentation__name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name;
  font-family: "Gilroy-Bold";
  font-size: 47px;
}

.presentation__info {
  font-family: "Gilroy-Medium";
  font-size: 18px;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: info;
}

.presentation__photo {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: img;
  background-image: url("img/Denis Novik mobile.png");
  background-size: cover;
}

@media screen and (min-width: 1024px) {
  .presentation {
        grid-template-areas: "name . info . lang" ". . . . ." "img img img img img" ". . . . .";
    -ms-grid-columns: 124px auto 156px auto 20px;
        grid-template-columns: 124px auto 156px auto 20px;
    -ms-grid-rows: auto 49px 387px 104px;
        grid-template-rows: auto 49px 387px 104px;
    padding: 0;
    margin: 129px auto 0;
    width: 940px;
  }
  .presentation__lang {
    font-family: "Gilroy-Bold";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    grid-area: lang;
    height: 20px;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    margin-top: auto;
  }
  .presentation__lang button {
    font-family: "Gilroy-Bold";
    font-size: 16px;
    border: none;
    outline: none;
    background: none;
    text-transform: uppercase;
    color: #828282;
  }
  .presentation__lang button:hover {
    color: #070707;
  }
  .presentation__lang p {
    margin: 0 5px;
  }
  .presentation__info {
    margin-top: auto;
  }
  .presentation__photo {
    background-image: url("img/Denis_Novik.png");
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6;
  padding: 81px 0 0;
}

.about__head {
  font-family: "Gilroy-Bold";
  font-size: 34px;
  margin: 0 0 34px;
}

.about__text {
  font-family: "Gilroy-Medium";
  font-size: 18px;
  text-align: center;
}

.about__paragraf {
  height: 113px;
  width: 316px;
}

.about__desktop {
  display: none;
}

@media screen and (min-width: 1024px) {
  .about {
    padding: 120px 0 74px;
  }
  .about__desktop {
    display: block;
  }
  .about__mobile {
    display: none;
  }
  .about__head {
    margin: 0 0 22px;
  }
  .about__paragraf {
    width: 480px;
    height: 83px;
  }
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 81px 0 98px;
}

.skills__head {
  font-family: "Gilroy-Bold";
  font-size: 34px;
}

.skills__text {
  font-family: "Gilroy-Medium";
  padding: 40px 0 0;
  font-size: 18px;
}

.skills__img {
  margin: 81px 0 0;
  width: 165px;
  height: 205px;
}

.skills__img-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 167px;
}

@media screen and (min-width: 1024px) {
  .skills {
    padding: 91px 0 110px;
  }
  .skills__text {
    padding: 69px 0 0;
  }
  .skills__img-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 940px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  justify-items: center;
  padding: 81px 0 14px;
  background-color: #f6f6f6;
}

.portfolio__head {
  font-family: "Gilroy-Bold";
  font-size: 34px;
  padding-bottom: 65px;
}

.portfolio__text {
  font-family: "Gilroy-Medium";
  font-size: 18px;
  margin: 33px 0 79px;
  text-decoration: none;
  color: #070707;
}

.portfolio__text:active {
  color: #828282;
}

.portfolio__img {
  padding: 0 30px 0 30px;
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 1024px) {
  .portfolio {
    padding: 113px 0 0px;
  }
  .portfolio__text {
    color: #070707;
    font-family: "Gilroy-Medium";
    font-size: 18px;
    margin: 45px 0 99px;
    text-decoration: none;
  }
  .portfolio__text:hover {
    color: #828282;
  }
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  justify-items: center;
  padding: 81px 0 110px;
}

.contacts__head {
  font-family: "Gilroy-Bold";
  font-size: 34px;
  padding-bottom: 27px;
}

.contacts__text {
  font-family: "Gilroy-Medium";
  font-size: 18px;
  padding-bottom: 40px;
}

.contacts__btn {
  font-family: "Gilroy-Bold";
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  background-color: black;
  border-color: none;
  border: none;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 316px;
  height: 42px;
  border-radius: 200px;
  outline: none;
  margin: 0 0 40px;
}

.contacts__btn:hover {
  color: #070707;
  background-color: #ffffff;
  box-shadow: 0px 0px 20px 4px gray;
  -webkit-box-shadow: 0px 0px 20px 4px gray;
  -moz-box-shadow: 0px 0px 20px 4px gray;
}

.contacts__btn:active {
  color: #ffffff;
  background-color: #070707;
  border: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contacts__svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 316px;
}

.contacts__img:hover {
  opacity: 50%;
}

.contacts__img:active {
  opacity: 100%;
}

.contacts__footer {
  font-family: "Gilroy-Medium";
  font-size: 18px;
  color: #828282;
  padding-top: 49px;
}

@media screen and (min-width: 1024px) {
  .contacts {
    padding: 115px 0 124px;
  }
  .contacts__head {
    padding-bottom: 20px;
  }
  .contacts__text {
    padding-bottom: 30px;
  }
  .contacts__btn {
    width: 181px;
    height: 42px;
    margin: 0 0 80px;
  }
  .contacts__footer {
    padding-top: 46px;
    font-size: 14px;
  }
  .contacts__svg {
    width: 343px;
  }
}
/*# sourceMappingURL=main.css.map */